---

---
:root {
  --color-bg: hsl(100, 15%, 90%);
  --color-txt: hsl(150, 45%, 22%);
  --color-txt-half: hsl(150, 15%, 50%);
  --font-family: 'IBM Plex Mono', Courier, monospace;
  --font-size-base: 16px;
  --width-content: 70ch;
  --margin1x: 1.5rem;
  --margin2x: 3rem;
  --margin3x: 4.5rem;
  --margin4x: 6rem;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: hsl(150, 5%, 10%);
    --color-txt: hsl(150, 10%, 80%);
    --color-txt-half: hsl(150, 10%, 40%);
  }
}

html {
  font-size: var(--font-size-base);
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background-color: var(--color-bg);
  color: var(--color-txt);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-wrap: pretty;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.15;
  margin-block: 0 var(--margin1x);
  + p {
    margin-top: 0;
  }
}
h2 {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-top: var(--margin2x);
  a {
    text-underline-offset: 3px;
  }
}
h3 {
  font-size: 1.1rem;
  line-height: inherit;
}
h4, h5, h6 {
  font-size: inherit;
  line-height: inherit;
}

p, ol, ul, figure, pre[class*="language-"] {
  margin: var(--margin1x) auto;
}

a {
  color: var(--color-txt);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  @media (pointer: fine) {
    &:hover {
      text-decoration: none;
    }
  }
}

ul {
  list-style: "– ";
  padding-left: 2ch;
}
ol {
  list-style: decimal-leading-zero;
  padding-left: 4.5ch;
}

blockquote {
  margin-inline: 0;
  padding-inline: 3ch;
  position: relative;
  &:before {
    background-color: var(--color-txt);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
  }
}

img {
  display: block;
  max-width: 100%;
}
figure {
  padding: 0;
  text-align: center;
  img {
    display: inline;
  }
  a {
    display: block;
  }
}
figcaption {
  font-size: 0.85rem;
  margin: 0.2rem 0;
  opacity: 0.7;
}

hr {
  border-color: var(--color-txt);
  border-style: dashed;
  border-width: 1px 0 0;
  height: 0;
  margin-block: var(--margin2x);
}

main {
  margin-inline: auto;
  max-width: var(--width-content);
  padding: 4vw;
}

.fa-fw {
  width: 1em !important;
}

.fa-regular,
.fa-solid,
.fa-brands {
  margin-right: 0.25em;
  &:before {
    font-size: 0.9em;
  }
}

.header {
  margin-block: var(--margin1x) 0;
  .peace {
    align-items: center;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    gap: 1.5rem;
    line-height: 1;
    text-decoration: none;
    svg {
      align-self: flex-start;
      flex-shrink: 0;
      height: 3.5rem;
      width: auto;
    }
  }
  p {
    margin-top: 0.5rem;
  }
}

.policy-nav {
  border-bottom: 1px dashed var(--color-txt);
  border-top: 1px dashed var(--color-txt);
  margin-block: var(--margin1x) var(--margin3x);
  padding-block: var(--margin2x);
  .selected {
    font-weight: bold;
    text-decoration: none;
  }
}

.attribution {
  font-size: 0.85rem;
  margin-block: var(--margin3x);
}

.footer {
  border-top: 1px dashed var(--color-txt);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: var(--margin3x);
  padding-top: var(--margin1x);
  @media (min-width: 40rem) {
    display: grid;
    grid-template-columns: 9ch 14ch 12ch 20ch;
    justify-content: space-between;
    .top-link,
    .newsletter-link,
    .bluesky-link,
    .name-link {
      grid-row: 2 / 2;
    }
    .threads-link {
      grid-column: 3 / 3;
      grid-row: 3 / 3;
    }
    .twitter-link {
      grid-column: 3 / 3;
      grid-row: 4 / 4;
    }
  }
  a {
    margin-bottom: 0.5em;
    text-decoration: none;
    white-space: nowrap;
    @media (pointer: fine) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (min-width: 30rem) {
      margin-bottom: 0;
    }
  }
}

.table-wrapper {
  margin-block: var(--margin2x);
  overflow: auto;
  table {
    border-left: 1px solid var(--color-txt-half);
    border-top: 1px solid var(--color-txt-half);
    table-layout: auto;
    width: 1000px;
  }
  th, td {
    border-bottom: 1px solid var(--color-txt-half);
    border-right: 1px solid var(--color-txt-half);
    padding: 0.5rem;
    text-align: left;
    width: 1%;
  }
  @media (min-width: 900px) {
    margin-inline: -15vw;
    table {
      width: auto;
    }
  }
}



// Utilities

.text-center {
  text-align: center !important;
}

.nowrap {
  white-space: nowrap !important;
}

.m-0 {
  margin: 0 !important;
}

.hidden,
[hidden] {
  display: none !important;
}

@media (max-width: 35rem) {
  .hidden-on-mobile {
    display: none !important;
  }
}
